[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
[submodule "rpi-rgb-led-matrix"]
	path = rpi-rgb-led-matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix.git
